html{
  font-size: 12px;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #121212;
  color: white;
  background-repeat: repeat;
  border-top: 8px solid #ffdc00;
}

.app{
  margin: 0 auto;
  width: 90vw;
  position: relative;
}

/* macro structure : app header */
.app-header{}

.app-header .input-bar{
  position: relative;
}

/* macro structure : main input */
.app-header input{
  margin-left: 24px;
  display: block;
  border: 0;
  border-bottom: 1px solid #444;
  font-size: 2.5rem;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 8px 0;
  color: white;
}

.app-header input:focus{
  outline: none;
}

/* macro structure : app body */


.app-body .list-item .inner{
  padding: 16px;
  color: white;
  background-color: #222;
  border: 5px solid #282828;
  min-height: 250px;
  position: relative;
}

.app-body .list-item label{
  text-shadow: 2px 2px 2px #000;
}

.app-body .list-item .inner:hover{
  background-color: #151515;
}

.app-body .list-item .inner .focus{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #444;
  display: none;
  cursor: pointer;
}

.app-body .list-item .inner:hover .focus{
  display: block;
}

.app-body .list-item .view{

}

.app-body .list-item-control-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.app-body .list-item-control-bar > *{
  margin: 0;
  width: 50%;
}

.app-body .list-item button{
  background-color: #292929;
  padding: 16px 24px;
  color: #777;
  font-size: 0.75rem;
  border-left: 2px solid #222;
}

.app-body .list-item button:hover{
  color: white;
  text-shadow: 2px 2px 2px #222;
}

.app-body .list-item .destroy:hover{
  background-color: red;
}

.app-body .list-item .status-completed .fa-check{
  color: green;
}

/* macro structure : app logic, toggling edit and view states */
.app-body .list-item .edit{
  display: none;
}

.app-body .list-item.editing .edit{
  display: block;
}

.app-body .list-item .view{
  display: block;
}

.app-body .list-item.editing .view{
  display: none;
}

.app-footer{
  /* these rules control positioning */
  position: absolute;
  top: 0;
  right: 0;
  color: #444;
}

.app-footer a{
  text-decoration: none;
  color: #444;
}

.app-footer a.selected{
  color: #777;
}

.global-action-bar{
  margin: 16px 0;
}

.global-action-bar input[type='checkbox']{
  display: none;
}

.global-action{
  display: inline-block;
  padding: 8px 16px 8px 0;
  color: #444;
  background: none;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.global-action:hover{
  color: white;
}

.credits-footer{
  width: 90vw;
  margin: 0 auto;
  color: #444;
}

/* typography */
h1{
  font-weight: 900; /* aka black */
  font-size: 2rem; /* 2rem = 2x the body font size = 32px; */
  line-height: 1.25;
  color: #444;
}

h1 span{
  font-size: 0.5em;
  display: block;
  font-variant: small-caps;
}

