
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: 0;
}

ul li{
  list-style-type: none;
}

button{
  border: none;
  border-radius: 0;
}

a{
  text-decoration: none;
}

.horizontal-layout {
  display: flex;
  flex-flow: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
}
.horizontal-layout > * {
  margin-bottom: 0;
  flex-shrink: 0;
  margin-right: 16px;
}
.horizontal-layout > *:last-child {
  margin-right: 0;
}


.vertical-layout {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}
.vertical-layout > * {
  margin-right: 0;
  margin-bottom: 16px;
}
.vertical-layout > *:last-child {
  margin-bottom: 0;
}


.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -8px;
  margin-right: -8px;
}
.grid > * {
  flex-shrink: 0;
  padding-right: 8px;
  padding-left: 8px;
  min-height: 1px;
  margin-bottom: 16px;
}
.grid [class*='column-'] {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
@media only screen and (min-width: 1025px) {
  .grid .column-1-of-12 {
    width: 8.33333333%;
  }
  .grid .column-2-of-12 {
    width: 16.66666667%;
  }
  .grid .column-3-of-12 {
    width: 25%;
  }
  .grid .column-4-of-12 {
    width: 33.33333333%;
  }
  .grid .column-5-of-12 {
    width: 41.66666667%;
  }
  .grid .column-6-of-12 {
    width: 50%;
  }
  .grid .column-7-of-12 {
    width: 58.33333333%;
  }
  .grid .column-8-of-12 {
    width: 66.66666667%;
  }
  .grid .column-9-of-12 {
    width: 75%;
  }
  .grid .column-10-of-12 {
    width: 83.33333333%;
  }
  .grid .column-11-of-12 {
    width: 91.66666667%;
  }
  .grid .column-12-of-12 {
    width: 100%;
  }
  .grid .column-1-of-10 {
    width: 10%;
  }
  .grid .column-2-of-10 {
    width: 20%;
  }
  .grid .column-3-of-10 {
    width: 30%;
  }
  .grid .column-4-of-10 {
    width: 40%;
  }
  .grid .column-5-of-10 {
    width: 50%;
  }
  .grid .column-6-of-10 {
    width: 60%;
  }
  .grid .column-7-of-10 {
    width: 70%;
  }
  .grid .column-8-of-10 {
    width: 80%;
  }
  .grid .column-9-of-10 {
    width: 90%;
  }
  .grid .column-10-of-10 {
    width: 100%;
  }
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.center-y {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center-x {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
