html{
  font-size: 12px;
}

body{}

/*
 * The App Container
 */
.app{}

/*
 * The App Header
 */
.app-header{}

  /* The App Title */
.app-header .app-title{}
.app-header .app-title span{
  display: block;
}

  /* The App Header Input Bar */
.app-header .input-bar{
  position: relative;
}

.app-header .input-bar input{
  display: block;
}

/*
 * The App Body
 */
.app-body{}
  /* The Global Actions Bar */
.app-body .global-action-bar{}
.app-body .global-action-bar .global-action{
  display: inline-block;
}

/*
 * The Todo List Item
 */
.app-body .list-item{}

  /* The Todo List Item Control Bar */
.app-body .list-item .list-item-control-bar{}
.app-body .list-item .list-item-control-bar button{}

/*
 * The App Footer
 */
.app-footer{}